 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:7pt Arial, sans-serif; }
 .font1 { font:8pt Arial, sans-serif; }
 .font2 { font:9pt Arial, sans-serif; }
 .font3 { font:15pt Arial, sans-serif; }
 .font4 { font:7pt Times New Roman, serif; }
 .font5 { font:8pt Times New Roman, serif; }
 .font6 { font:9pt Times New Roman, serif; }
 .font7 { font:10pt Times New Roman, serif; }
 .font8 { font:12pt Times New Roman, serif; }
 .font9 { font:13pt Times New Roman, serif; }
 .font10 { font:22pt Times New Roman, serif; }
