 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:8pt Arial, sans-serif; }
 .font1 { font:9pt Arial, sans-serif; }
 .font2 { font:11pt Arial, sans-serif; }
 .font3 { font:7pt Times New Roman, serif; }
 .font4 { font:9pt Times New Roman, serif; }
 .font5 { font:10pt Times New Roman, serif; }
 .font6 { font:12pt Times New Roman, serif; }
 .font7 { font:26pt Times New Roman, serif; }
