.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

#left, #right {
    display: inline-block;
    horizontal-align: middle;
    margin-left: 70px;
}

#logo {
  position: relative;
  top: -50px;
  right: 0;
  width: 200px;
  height: 200px;
}

#banner {
 background-color: #466BB0;
}


#text {
 text-align: left;
 font-family: Verdana;
 font-size: 16px;
 margin-top: 50px;
 margin-left: 0px;
 margin-bottom: 30px;
}

